# Pandas

In [10]:
import pandas as pd

* Series--------1d array
* Data Frame----2D array (table format,row & col)

In [2]:
a=pd.Series([])
b=pd.Series([2,3123,123,124,13,431])
c=pd.Series((34,24234234234,22324,2423,324))
d=pd.Series({'a':3435,'b':4234})

C:\Users\karti\AppData\Local\Temp\ipykernel_5900\1376191169.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.Series([])

In [3]:
print(type(a))

<class 'pandas.core.series.Series'>

In [4]:
b

0       2
1    3123
2     123
3     124
4      13
5     431
dtype: int64

In [5]:
c

0             34
1    24234234234
2          22324
3           2423
4            324
dtype: int64

In [6]:
d

a    3435
b    4234
dtype: int64

In [7]:
n=pd.array([1,2,3,4,5])

In [8]:
n

<IntegerArray>
[1, 2, 3, 4, 5]
Length: 5, dtype: Int64

In [9]:
pandas.core.series.series

NameError: name 'pandas' is not defined

In [ ]:
d

In [ ]:
d[1:]

In [ ]:
d['b']

In [ ]:
d['a':'b']

In [ ]:
d['a':'b']

In [ ]:
s=pd.Series([34,343,4,424],index=list('wwef'))

In [ ]:
s

In [ ]:
s1=pd.Series([34,34,34,12,23,12,12])

In [ ]:
s1

In [ ]:
s1.value_counts()  #tells about how much time a number is srepeated

In [ ]:
s1.argmax()

In [ ]:
s1.argmin()

In [ ]:
s1.idxmax()

In [ ]:
s1.idxmin()

In [ ]:
s.idxmin()

In [ ]:
s.idxmax()

# DataFrame

In [ ]:
import numpy as np

In [ ]:
a= pd.DataFrame()

In [ ]:
b=pd.DataFrame([32,32,23,56])

In [ ]:
a

In [ ]:
b

In [ ]:
type(b)

In [ ]:
b.shape

In [ ]:
b1=pd.DataFrame([[32,32],[23,56]])

In [ ]:
b1

In [ ]:
type(b1)

In [ ]:
b1.shape

In [ ]:
b2=pd.DataFrame([[34,45,3,33,3]     ,[534,53,34,3,4]       ,[43,4,32,132,2]       ,[1,34,4,3,3]       ,[2,3,4,5,5]])

In [ ]:
b2

In [ ]:
type(b2)

In [ ]:
b2.shape

In [ ]:
b2.head(3)

In [ ]:
b2.tail(3)

In [ ]:
b2.sample(3)

In [ ]:
b3=pd.DataFrame([[34,45,33,3]     ,[534,3,4]       ,[43,4,32,132,2]       ,[1,34,4,3,3]       ,[2,3,5]])

In [ ]:
b3

In [ ]:
b3.shape

In [ ]:
b3=pd.DataFrame([[34,45,33,3]     ,[534,3,4]       ,[43,4, ,132,2]       ,[1,34,4,3,3]       ,[2,3,5]])

In [ ]:
b3=pd.DataFrame([[34,45,33,3]     ,[534,3,4]       ,[43,4,np.nan,132,2]       ,[1,34,4,3,3]       ,[2,3,5]])

In [ ]:
b3=pd.DataFrame([[34,45,33,3]     ,[534,3,4]       ,[43,4,'missing',132,2]       ,[1,34,4,3,3]       ,[2,3,5]],columns=['kola','bhola','gola','chola','tola'])

In [ ]:
b3

In [ ]:
b3['tola']

In [ ]:
b3[['tola','gola']]

In [ ]:
b3[['tola','gola']][0:3]

In [ ]:
b3.shape

In [ ]:
b3['tola'].argmax()

In [ ]:
b3['tola'].argmin()

In [ ]:
b3['cola']=[34343,3,43,3,53]

In [ ]:
b3

In [ ]:
b3['oo']=b3['chola'] + b3['tola']

In [ ]:
b3

In [ ]:
b3['bhola']>22

In [ ]:
f=b3['bhola']>22

In [ ]:
b3[f]

In [15]:
import pandas as pd

In [16]:
df=pd.read_csv('u.data')

In [17]:
#separation method suggested by google
df1=pd.read_csv('u.item',sep='|',encoding="ISO-8859-1")

In [18]:
df1

,1,Toy Story (1995),01-Jan-1995,Unnamed: 3,http://us.imdb.com/M/title-exact?Toy%20Story%20(1995),0,0.1,0.2,1.1,1.2,...,0.6,0.7,0.8,0.9,0.10,0.11,0.12,0.13,0.14,0.15
0,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,6,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,01-Jan-1995,NaN,http://us.imdb.com/Title?Yao+a+yao+yao+dao+wai...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1676,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1677,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1678,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1679,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1680,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
df.head()

      0\t50\t5\t881250949
0    0\t172\t5\t881250949
1    0\t133\t1\t881250949
2  196\t242\t3\t881250949
3  186\t302\t3\t891717742
4   22\t377\t1\t878887116

In [20]:
# the column names
cols=['user_id','movie_id','rating','ts']

In [21]:
# read the files 
df=pd.read_csv('u.data',sep='\t' ,names=cols)

In [22]:
a=[4,8,4,7,9]

In [23]:
b[]
for i in a

SyntaxError: invalid syntax (1683099361.py, line 1)

In [25]:
items_cols=['movie_id','title']+[str(i) for i in range(22)]

In [26]:
# finding rows and columns
df1.shape

(1681, 24)

# Exploratory Data analysis

In [27]:
df.head()

   user_id  movie_id  rating         ts
0        0        50       5  881250949
1        0       172       5  881250949
2        0       133       1  881250949
3      196       242       3  881250949
4      186       302       3  891717742

In [28]:
# any random values
df.sample(3)

       user_id  movie_id  rating         ts
55351       69       124       4  882072869
6725        85       566       3  879454273
78667      889      1231       3  880182871

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100003 entries, 0 to 100002
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   100003 non-null  int64
 1   movie_id  100003 non-null  int64
 2   rating    100003 non-null  int64
 3   ts        100003 non-null  int64
dtypes: int64(4)
memory usage: 3.1 MB

In [30]:
df.describe(include='all')

             user_id       movie_id         rating            ts
count  100003.000000  100003.000000  100003.000000  1.000030e+05
mean      462.470876     425.520914       3.529864  8.835288e+08
std       266.622454     330.797791       1.125704  5.343791e+06
min         0.000000       1.000000       1.000000  8.747247e+08
25%       254.000000     175.000000       3.000000  8.794487e+08
50%       447.000000     322.000000       4.000000  8.828269e+08
75%       682.000000     631.000000       4.000000  8.882600e+08
max       943.000000    1682.000000       5.000000  8.932866e+08

Types of data
1. strings with categorial info
2.strings with random stuff
3.numbers with qualified info
4.numbers with categorial info
5.Random numbers or id sort of data

In [31]:
df.columns

Index(['user_id', 'movie_id', 'rating', 'ts'], dtype='object')

In [32]:
df['rating'].nunique()

5

In [33]:
df['user_id'].nunique()

944

In [34]:
df['movie_id'].nunique()

1682

In [35]:
df1.sample(5)

,1,Toy Story (1995),01-Jan-1995,Unnamed: 3,http://us.imdb.com/M/title-exact?Toy%20Story%20(1995),0,0.1,0.2,1.1,1.2,...,0.6,0.7,0.8,0.9,0.10,0.11,0.12,0.13,0.14,0.15
1059,1061,"Evening Star, The (1996)",25-Dec-1996,NaN,http://us.imdb.com/M/title-exact?Evening%20Sta...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
834,836,Ninotchka (1939),01-Jan-1939,NaN,http://us.imdb.com/M/title-exact?Ninotchka%20(...,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
527,529,My Life as a Dog (Mitt liv som hund) (1985),01-Jan-1985,NaN,http://us.imdb.com/M/title-exact?Mitt%20liv%20...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,28,Apollo 13 (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Apollo%2013%2...,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
525,527,Gandhi (1982),01-Jan-1982,NaN,http://us.imdb.com/M/title-exact?Gandhi%20(1982),0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
items_cols=['movie_id','title']+[str(i) for i in range(22)]

In [41]:
#separation method suggested by google
df1=pd.read_csv('u.item',sep='|',names=items_cols,encoding="ISO-8859-1")[['movie_id','title']]

In [42]:
# merging dataframes
movie =pd.merge(df,df1, on='movie_id')
movie.head()

   user_id  movie_id  rating         ts             title
0        0        50       5  881250949  Star Wars (1977)
1      290        50       5  880473582  Star Wars (1977)
2       79        50       4  891271545  Star Wars (1977)
3        2        50       5  888552084  Star Wars (1977)
4        8        50       5  879362124  Star Wars (1977)

In [43]:
#find the no. of ratings of each movie
movie['title'].value_counts().head(10)

Star Wars (1977)                 584
Contact (1997)                   509
Fargo (1996)                     508
Return of the Jedi (1983)        507
Liar Liar (1997)                 485
English Patient, The (1996)      481
Scream (1996)                    478
Toy Story (1995)                 452
Air Force One (1997)             431
Independence Day (ID4) (1996)    429
Name: title, dtype: int64

In [46]:
movie.groupby('title')['rating'].mean().sort_values(ascending=False).head(10)

title
They Made Me a Criminal (1939)                       5.0
Marlene Dietrich: Shadow and Light (1996)            5.0
Saint of Fort Washington, The (1993)                 5.0
Someone Else's America (1995)                        5.0
Star Kid (1997)                                      5.0
Great Day in Harlem, A (1994)                        5.0
Aiqing wansui (1994)                                 5.0
Santa with Muscles (1996)                            5.0
Prefontaine (1997)                                   5.0
Entertaining Angels: The Dorothy Day Story (1996)    5.0
Name: rating, dtype: float64

In [86]:
ratings=pd.DataFrame(movie.groupby('title')\
                     ['rating'].mean().sort_values(ascending=False))

In [87]:
ratings['count']=movie['title'].value_counts()

In [88]:
ratings.head(20)

                                                      rating  count
title
They Made Me a Criminal (1939)                      5.000000      1
Marlene Dietrich: Shadow and Light (1996)           5.000000      1
Saint of Fort Washington, The (1993)                5.000000      2
Someone Else's America (1995)                       5.000000      1
Star Kid (1997)                                     5.000000      3
Great Day in Harlem, A (1994)                       5.000000      1
Aiqing wansui (1994)                                5.000000      1
Santa with Muscles (1996)                           5.000000      2
Prefontaine (1997)                                  5.000000      3
Entertaining Angels: The Dorothy Day Story (1996)   5.000000      1
Pather Panchali (1955)                              4.625000      8
Some Mother's Son (1996)                            4.500000      2
Maya Lin: A Strong Clear Vision (1994)              4.500000      4
Anna (1996)                                         4.500000      2
Everest (1998)                                      4.500000      2
Close Shave, A (1995)                               4.491071    112
Schindler's List (1993)                             4.466443    298
Wrong Trousers, The (1993)                          4.466102    118
Casablanca (1942)                                   4.456790    243
Wallace & Gromit: The Best of Aardman Animation...  4.447761     67

In [52]:
ratings.sort_values(by='count',ascending=False).head(20)

                                    rating  count
title
Star Wars (1977)                  4.359589    584
Contact (1997)                    3.803536    509
Fargo (1996)                      4.155512    508
Return of the Jedi (1983)         4.007890    507
Liar Liar (1997)                  3.156701    485
English Patient, The (1996)       3.656965    481
Scream (1996)                     3.441423    478
Toy Story (1995)                  3.878319    452
Air Force One (1997)              3.631090    431
Independence Day (ID4) (1996)     3.438228    429
Raiders of the Lost Ark (1981)    4.252381    420
Godfather, The (1972)             4.283293    413
Pulp Fiction (1994)               4.060914    394
Twelve Monkeys (1995)             3.798469    392
Silence of the Lambs, The (1991)  4.289744    390
Jerry Maguire (1996)              3.710938    384
Chasing Amy (1997)                3.839050    379
Rock, The (1996)                  3.693122    378
Empire Strikes Back, The (1980)   4.206522    368
Star Trek: First Contact (1996)   3.660274    365

In [54]:
movie_pivot=movie.pivot_table(index='user_id',columns='title',values='rating')
movie_pivot.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#correlation

In [64]:
movie_selected='Star Wars (1977)'

In [66]:
ms_rates=movie_pivot[movie_selected]
ms_rates.head()

user_id
0    5.0
1    5.0
2    5.0
3    NaN
4    5.0
Name: Star Wars (1977), dtype: float64

In [68]:
import warnings
warnings.filterwarnings('ignore')

In [70]:
corrs=movie_pivot.corrwith(ms_rates)
corrs.head(20)

title
'Til There Was You (1997)                      0.872872
1-900 (1994)                                  -0.645497
101 Dalmatians (1996)                          0.211132
12 Angry Men (1957)                            0.184289
187 (1997)                                     0.027398
2 Days in the Valley (1996)                    0.066654
20,000 Leagues Under the Sea (1954)            0.289768
2001: A Space Odyssey (1968)                   0.230884
3 Ninjas: High Noon At Mega Mountain (1998)         NaN
39 Steps, The (1935)                           0.106453
8 1/2 (1963)                                  -0.142977
8 Heads in a Duffel Bag (1997)                -0.577350
8 Seconds (1994)                              -0.755929
A Chef in Love (1996)                          0.868599
Above the Rim (1994)                          -0.645497
Absolute Power (1997)                          0.085440
Abyss, The (1989)                              0.203709
Ace Ventura: Pet Detective (1994)              0.062689
Ace Ventura: When Nature Calls (1995)          0.094514
Across the Sea of Time (1995)                 -0.132453
dtype: float64

In [71]:
corrs=movie_pivot.corrwith(ms_rates).sort_values(ascending=False)
corrs.head(20)

title
Hollow Reed (1996)                                                                   1.0
Commandments (1997)                                                                  1.0
Cosi (1996)                                                                          1.0
No Escape (1994)                                                                     1.0
Stripes (1981)                                                                       1.0
Star Wars (1977)                                                                     1.0
Man of the Year (1995)                                                               1.0
Beans of Egypt, Maine, The (1994)                                                    1.0
Old Lady Who Walked in the Sea, The (Vieille qui marchait dans la mer, La) (1991)    1.0
Outlaw, The (1943)                                                                   1.0
Line King: Al Hirschfeld, The (1996)                                                 1.0
Hurricane Streets (1998)                                                             1.0
Scarlet Letter, The (1926)                                                           1.0
Good Man in Africa, A (1994)                                                         1.0
Safe Passage (1994)                                                                  1.0
Golden Earrings (1947)                                                               1.0
Full Speed (1996)                                                                    1.0
Twisted (1996)                                                                       1.0
Ed's Next Move (1996)                                                                1.0
Mondo (1996)                                                                         1.0
dtype: float64

In [96]:
corrs_df=pd.DataFrame(corrs,columns=['correlation'])
corrs_df.head()

                     correlation
title
Hollow Reed (1996)           1.0
Commandments (1997)          1.0
Cosi (1996)                  1.0
No Escape (1994)             1.0
Stripes (1981)               1.0

In [91]:
corrs_df['rating']=ratings['rating']
corrs_df['count']=ratings['count']

In [92]:
ratings=pd.DataFrame(corrs.groupby('title')\
                     .mean().sort_values(ascending=False))

In [75]:
ratings.head()

                       0
title
Hollow Reed (1996)   1.0
Commandments (1997)  1.0
Cosi (1996)          1.0
No Escape (1994)     1.0
Stripes (1981)       1.0

In [101]:
corrs_df[corrs_df['count']>50].sort_values(
    by='correlation',ascending=False).head(10)

KeyError: 'count'

In [99]:
top_recom=list(corrs_df[corrs_df['count']>50].sort_values(
    by=

SyntaxError: unexpected EOF while parsing (1869577746.py, line 2)